* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 15px;
}

h2 {
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

li {
  list-style: none;
}

img,
figure,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header {
  font-weight: 500;
  width: 100%;
  background: white;
  padding: 20px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.containerNav {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar ul li a {
  transition: all 0.3s;
}
.navbar ul li a:not(.itemBtn):hover {
  color: #2662b9;
}

.itemHeader {
  /* margin-left: 30px; */
  margin-right: 25px;
  color: rgb(0, 0, 0);
}

.itemBtn {
  font-weight: 500;
  background: #3172d2;
  border-radius: 25px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  transition-duration: 0.3s;
}
.itemBtn a {
  color: rgb(255, 255, 255);
}
.itemBtn:hover {
  background-color: #2662b9;
}

.itemHeaderImg {
  margin-right: 110px;
}
/* CIERRE HEADER */

/* INFO BIENVENIDA */
.contenedorImagen {
  width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
  background-image: url(./assets/img/foto_header5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fondoOscuro {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 20%);
}

.itemImagen1,
.itemImagen2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0px rgb(0, 0, 0);
  text-align: center;
  text-wrap: balance;
  z-index: 10;
}

.itemImagen2 {
  font-size: 28px;
  max-width: 600px;
  margin-bottom: 30px;
}

.btnContainer {
  z-index: 10;
}
/* CIERRE INFO BIENVENIDA */

/* QUIENES SOMOS / ABOUT  */
#quienSomos {
  width: 100%;
  background: rgb(231, 229, 252);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedorQuienes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/* Carrusel*/
/* #qsCarrusel {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.carousel {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 36px 32px;
}

@media (max-width: 500px) {
  .carousel {
    width: 100%;
    padding: 0 0 32px;
  }
}
.carousel img {
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* Slider Top */
.carousel .slick-slide {
  padding-inline: 10px;
}

.carousel .slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.2;
  color: blue;
}

.carousel .slick-dots li.slick-active button:before {
  opacity: 1;
  color: blue;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(19, 19, 19);
  opacity: 1;
}

.itemQuienes {
  max-width: 600px;
  text-align: center;
  text-wrap: balance;
}
/* CIERRE QUIENES SOMOS / ABOUT  */

/* TURNOS */
.contenedorRegistrate {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(252, 229, 229);
}

.formulario {
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.campo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  margin-left: 5px;
  margin-bottom: 1px;
}

.inputs {
  font-size: 16px;
  padding: 10px;
  border: 2px solid rgb(241, 212, 212);
  border-radius: 4px;
}

.inputs::placeholder {
  font-size: 16px;
}

.itemBoton {
  font-size: 16px;
  color: white;
  background-color: #3172d2;
  border: 8px solid #3172d2;
  border-radius: 4px;
  transition-duration: 0.3s;
  padding: 2px 10px;
}

.itemBoton:hover {
  background-color: #3d6eb8;
  border: 8px solid #3d6eb8;
}

/* .campo1,
.campo2,
.campo3,
.campo4,
.campo5 {
  color: red;
  margin-top: 0;
  margin-bottom: 1%;
} */
/* CIERRE TURNOS */

/* INFORMATE */
.contenedorInformate {
  width: 100%;
  background: rgb(231, 229, 252);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorItemsInformate {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.itemsInformate {
  width: 210px;
  font-size: 14px;
  text-align: center;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
/* CIERRE INFORMATE */

/* FAQ */
.contenedorPreguntas {
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(252, 229, 229);
}

.acordeon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

details {
  width: 100%;
  max-width: 768px;
  background-color: rgb(248 247 251);
  border-radius: 10px;
}

summary {
  font-weight: 500;
  background-color: #f1d4d4;
  padding: 20px;
  border-radius: 10px;
}

details[open] > summary {
  border-radius: 10px 10px 0px 0px;
}

.contenidoDetails {
  padding: 20px;
}

ul.contenidoDetails li {
  list-style: initial;
  margin-left: 20px;
}

ul.contenidoDetails .ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
/* CIERRE FAQ */

/* INFO CLINICA */
.contenedorInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 50px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoLogo {
  font-size: 40px;
  color: #78a0dc;
  display: inline-flex;
}

.infoCarta {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.infoCarta p.infoCartaP {
  font-size: 1em;
  font-weight: 400;
}

.infoCarta p {
  font-size: 0.6em;
  font-weight: 100;
}
/* CIERRE INFO CLINICA */

/* FOOTER */
.contFoot {
  width: 100%;
  background: #3d6eb8;
  color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subContFoot,
.copyR {
  width: 100%;
  max-width: 600px;
}

.subContFoot {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subContFoot li {
  font-size: 14px;
}

.copyR {
  font-size: 12px;
  text-align: center;
  border-top: solid rgb(255, 255, 255) 1px;
  padding-top: 20px;
}

.redes {
  display: flex;
  gap: 5px;
}

.redes a {
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}
/* CIERRE FOOTER */

/* BTN VOLVER */
.botonVolver {
  font-size: 16px;
  color: white;
  background-color: #5488d6;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
}
.botonVolver:hover {
  background-color: #6a9deb;
}
/* CIERRE BTN VOLVER */

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
    text-wrap: balance;
  }

  .itemImagen2 {
    font-size: 24px;
  }

  .contenedorImagen,
  .contenedorInfo,
  #quienSomos,
  .contenedorRegistrate,
  .contenedorInformate,
  .contenedorPreguntas,
  .contFoot {
    padding: 20px;
  }

  .info {
    flex-direction: column;
  }
  .infoCarta {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .contenedorInfo {
    flex-direction: column;
  }
}
